:root{
  --primary: #D82148;
}

.dot{
  color: var(--primary);
}

.active{
  color: var(--primary) !important;
}

.primary{
  color: var(--primary) !important;
}

.primary-btn{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.primary-btn:hover{
   transform: scale(1.2);
}

.navbar-brand{
  font-family: sans-serif;
  letter-spacing: 2px;
}

.nav-link{
  padding-inline:1.55em !important ;
  font-size: 1.005rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link:hover{
  color: var(--primary) !important;
}

.slider img{
  max-height: 650px;
  min-height: 500px;
  filter: brightness(20%) contrast(95%);
  background: cover/center;
}

.carousel-caption{
  top: 40%;
  bottom: 1rem;
}

.blog-post{
  background-color: rgba(250, 248, 245, 0.788);
  margin-block: 1.5em ;
  padding: 20px;
}

.img-post{
  width: 100%;
  height: 300px;
  min-width: 100%;

}

.list-category{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.list-category li a::before{
  content:"👉" ;
  padding-right: .5em;
}

.list-category li a::hover{
  color: var(--primary) !important;
}

.footer{
  background-color: var(--primary);
  padding: 3em !important;
  margin-bottom: 0 !important;
}

.footer>*, footer a, footer a:hover {
  color: rgb(106, 233, 123) !important;
}

.social {
  margin-top: 1.5rem;
  text-decoration: none;
    
  
  
}

.social img {
  margin-right: 2rem;
  width: 2.5rem;
}

.social img:hover{
  transform: scale(1.2);
  
}






/*.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover, .nav-link:focus {
    text-decoration: none;
  }
  
  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }
  
  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
  }
  
  .nav-tabs .nav-item {
    margin-bottom: -1px;
  }
  
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
  }
  
  .nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .nav-pills .nav-link {
    border-radius: 0.25rem;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
  }
  
  .nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
  }
  
  .nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
  }
  
  .tab-content > .tab-pane {
    display: none;
  }
  
  .tab-content > .active {
    display: block;
  }
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  
  .navbar > .container,
  .navbar > .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
  
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
  }*/